name: Continuous Integration

on: push

env:
    CARGO_TERM_COLOR: always

jobs:
    test_cli:
        runs-on: ubuntu-latest
        name: CI_CLI
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up Rust
              run: |
                  rustup install stable
                  rustup update
                  rustup component add clippy
            - name: Test And Lint
              run: |
                  cargo test --all
                  cargo clippy --all -- -D warnings
    test_solutions:
        runs-on: ubuntu-latest
        name: CI_SOLUTIONS
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up Rust
              run: |
                  rustup install stable
                  rustup update
                  rustup component add clippy
            - uses: actions/cache@v3
              continue-on-error: false
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      .cargo/.build/
                  key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: ${{ runner.os }}-cargo
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.11
                  cache: pip
            - name: Set up Zig
              uses: goto-bus-stop/setup-zig@v2
            - name: Run Tests
              run: test.sh
            - name: Run Linters
              run: lint.sh
